html, #root, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Helvetica, Arial;
}

.App {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  min-width: 900px;
}

.App-body {
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
